<h1>Bookmarks#show</h1>
<p>Find me in app/views/bookmarks/show.html.erb</p>

<p><strong>Movie</strong></p>
<ul class="list-group">
  <% @bookmark.movies.each do |movie| %>
    <li class="list-group-item">
      <%= movie.name %>
    </li>
  <% end %>
</ul>
